* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    text-align: center;
    background: url('1st\ screen\ \(5\).png') no-repeat center center/cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    text-align: center;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}

.leaderboard {
    background: white;
    padding: 20px;
    width: 400px;
    margin: 20px auto;
    border-radius: 10px;
    color: black;
}

.row {
    display: flex;
    justify-content: space-between;
    background-color: #1976D2;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.entry {
    display: flex;
    justify-content: space-between;
    background: #1976D2;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
